* {
  text-align: right;
}

body {
  background-image: url(img.jpg);
  background-size: cover;
}

p {
  color: blue;
  border: 5px solid black;
  text-align: center;
  background-color: B77AAB;
  cursor: pointer;
}
p {
  line-height: 10px;
  font-weight: bold;
  font-size: 150%;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}
img {
  float: left;
}
footer {
  clear: both;
  text-align: center;
}
li {
  list-style: none;
  display: inline-block;
}
.webtext:first-child {
  border: 5px dashed gray;
}
.active {
  color: red;
}
#div1 {
  background-color: rgba(0, 0, 255, 0.2);
}

#div2 {
  background-color: rgba(255, 0, 0, 0.2);
}
